@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --main-font-family: 'Poppins', sans-serif;
  --navbar-bg-color: #64748b;
  --content-bg-color: #e2e8f0;
  --card-bg-color: #f5f5f5;
  --active-bg-color: #cbd5e1;
  --delete-bg-color: #b91c1c;
  --delete-active-color: #991b1b;
  --is-read-color: #16a34a;
  --dark-text-color: #1e293b;
  --light-text-color: #f1f5f9;
  --shadow-color: rgba(0, 0, 0, 0.25);
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--main-font-family);
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-shadow: 0 2px 5px var(--shadow-color);
}

h3 {
  font-size: 1.4rem;
  font-weight: 500;
}

label,
input {
  font-size: 1.2rem;
}

.header,
.footer {
  color: var(--light-text-color);
}

body {
  display: grid;
  width: 100%;
  min-height: 100vh;
  grid-template-rows: 1fr 8fr 0.5fr;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 64px;
  background-color: var(--navbar-bg-color);
}

.controls {
  display: flex;
  gap: 32px;
}

.btn-add-book,
.btn-login,
.modal-btn-done {
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  background-color: var(--light-text-color);
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--dark-text-color);
  box-shadow: 0 5px 10px 0 var(--shadow-color);
  transition-duration: 0.2s;
}

.btn-add-book:hover,
.btn-login:hover,
.modal-btn-done:hover {
  background-color: var(--content-bg-color);
}

.btn-add-book:active,
.btn-login:active,
.modal-btn-done:active {
  transform: translateY(2px);
  background-color: var(--active-bg-color);
  box-shadow: 0 3px 10px 0 var(--shadow-color);
}

.modal-add-book {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-content {
  background-color: var(--navbar-bg-color);
  margin: 15% auto;
  padding: 32px;
  border-radius: 8px;
  width: 35%;
  box-shadow: 0 5px 10px 0 var(--shadow-color);
}

.add-book-form {
  display: grid;
  grid-template: auto / 1fr;
  padding: 12px;
  gap: 8px;
}

.add-book-form > div {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

div > label {
  color: var(--light-text-color);
}

div > input {
  border: none;
  border-radius: 8px;
  padding: 4px 8px;
  color: var(--dark-text-color);
  box-shadow: 0 3px 10px 0 var(--shadow-color);
}

.library-grid {
  display: grid;
  grid-template: repeat(auto-fit, 350px) / repeat(auto-fit, 300px);
  padding: 32px 64px;
  gap: 32px;
  background-color: var(--content-bg-color);
  box-shadow: inset 0px 3px 6px 0 var(--shadow-color);
}

.book-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 32px;
  gap: 16px;
  background-color: var(--card-bg-color);
  box-shadow: 0 5px 10px 0 var(--shadow-color);
  border-radius: 16px;
  overflow: auto;
}

.book-card::-webkit-scrollbar {
  display: none;
}

.book-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 7px 10px 0 var(--shadow-color);
}

.book-card > p,
.is-read,
.btn-delete-book {
  font-size: 1.2rem;
  font-weight: 400;
}

.book-card > p,
.is-read {
  color: var(--dark-text-color);
}

.read {
  display: flex;
  gap: 8px;
}

input[type="checkbox"].is-read-input,
input[type="checkbox"].if-read {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--card-bg-color);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15rem;
  height: 1.15rem;
  border: 0.15rem solid var(--dark-text-color);
  border-radius: 0.15rem;
  transform: translateY(0.33rem);
  display: grid;
  place-content: center;
}

input[type="checkbox"].is-read-input:hover,
input[type="checkbox"].if-read:hover {
  background-color: var(--content-bg-color);
}

input[type="checkbox"].is-read-input::before,
input[type="checkbox"].if-read::before {
  content: "";
  width: 0.65rem;
  height: 0.65rem;
  transform: scale(0);
  transition: 0.2s transform ease-in-out;
  box-shadow: inset 1rem 1rem var(--is-read-color);
}

input[type="checkbox"].is-read-input:checked::before,
input[type="checkbox"].if-read:checked::before {
  transform: scale(1);
}

.btn-delete-book {
  align-self: center;
  border: 2px solid var(--delete-bg-color);
  border-radius: 8px;
  padding: 8px 12px;
  background-color: var(--card-bg-color);
  box-shadow: 0 5px 10px 0 var(--shadow-color);
  color: var(--delete-bg-color);
  transition-duration: 0.2s;
}

.btn-delete-book:hover {
  background-color: var(--delete-bg-color);
  color: var(--light-text-color);
}

.btn-delete-book:active {
  transform: translateY(2px);
  background-color: var(--delete-active-color);
  border: 2px solid var(--delete-active-color);
  box-shadow: 0 3px 10px 0 var(--shadow-color);
}

.footer {
  display: flex;
  place-content: center;
  place-items: center;
  background-color: var(--navbar-bg-color);
}
